body {
    background-color: #1c212b;
}
/*  #131926 */
.navbg {
    background-color: #131926;
}

/* PARAGRAPH STYLES */
p {
    font-family: 'Open Sans', 'arial', Helvetica, sans-serif;
    color: #8e919e;
}

p.logo {
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
    font-size: 2.2em;   
    color: #40044d;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(-86deg, #9966ff 8%, #3f339a 53%, #6666ff 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.logo2 {
    font-family: 'Cinzel Decorative', serif;
    font-size: .9em;   
    color: #475161;
    letter-spacing: 3px;
    padding: 0px;
    margin: 0;
    margin-top: -15px;
}

p.logosub {
    font-family: 'Cinzel Decorative', serif;
    font-size: 0.75em;    
    color: #737780;
    letter-spacing: 2px;
    margin-top: 6px;
    }

p.text {
    font-size: 0.9375rem;
    line-height: 23px;
}

p.description {
    font-size: 0.8rem;
    color: #8a9099;
    text-align: left;
}

p.email {
    margin: 0;
    font-size: 1.2em;   
    color: #667280;
    letter-spacing: 2px;
    padding: 25px 0 0px 0;
}

p.footer {
    font-size: .9em;    
    color: #626773;
    letter-spacing: 2px;
}

small.waitlist {
    color: #667080;
}

.orange {
    text-transform: uppercase;
    color: #cc5f29;
}

.green {
    text-transform: uppercase;
    color: #7dcc29;
}
/* HR TAG STYLING */
hr.style2 { 
    margin: 8px;
    border: 0; 
    border-bottom: 1px solid #434c54; 
}

hr.style1 {
    margin: 0 auto;
    border-bottom: 1px dotted #4c5154;
}

/* H STYLES */
h2 {
    font-size: 1.3rem;
    font-family: 'Cinzel Decorative', serif;
    color: #667080;
}

h3 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.4rem;
    letter-spacing: .7px;
    color: #617ed1;  
}

h3.about {
    margin-bottom: .1rem;
    font-family: 'Open Sans', arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color: #666666;
    text-align: left;
}
h4{
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.15rem;
    text-align: center;
    color: #617ED1;
    letter-spacing: .5px;
}
h4.price {
    font-family: 'Open Sans', 'arial', Helvetica, sans-serif;
    font-size: 1.6rem;
    color: #1480cc;
}

h5{
    font-family: 'Open Sans', arial, Helvetica, sans-serif;
    font-size: .9rem;
    color: #667080;
}
/*BLUE OVERLAY HOVER*/
.overlay {
    background-color: #148dcc !important;
}

.overlay:hover img { 
opacity: 0.8 !important;
transition: opacity 50ms ease-in !important;
transition: opacity 30ms ease-out !important;
 }

/* GRADIENT BLOCK BETWEEN HEADER AND FOOTER*/
.spacer {
    width: 100%;
    height: 1px;
    background-color: #2f353d;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f353d+0,434c54+50,2f353d+100 */
    background: #2f353d; /* Old browsers */
    background: -moz-linear-gradient(left,  #1c212b 0%, #3f339a 50%, #1c212b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1c212b 0%,#3f339a 50%,#1c212b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1c212b 0%,#3f339a 50%,#1c212b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f353d', endColorstr='#2f353d',GradientType=1 ); /* IE6-9 */
}

.spacer2 {
    width: 100%;
    height: 1px;
    margin: 8px;
    background-color: #2f353d;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f353d+0,434c54+50,2f353d+100 */
    background: #2f353d; /* Old browsers */
    background: -moz-linear-gradient(left,  #1c212b 0%, #434c54 50%, #1c212b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1c212b 0%,#434c54 50%,#1c212b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1c212b 0%,#434c54 50%,#1c212b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f353d', endColorstr='#2f353d',GradientType=1 ); /* IE6-9 */
}
.hidden {
    overflow: hidden;
}

.img-thumbnail {
    background-color: transparent;
    border-color: #667080;
}
/* BORDER STYLING */
.borderaround {
    border: 1px solid #131926;
}

.bordertop {
    border-top: 1px dotted #404447;
    padding: 8px 0 0 0;
}

.bordery {
    border-top: 1px solid #404447;
    border-bottom: 1px solid #404447;
    padding: 8px 0 0 0;
}

.borderx {
    border-left: 1px dotted #676e73;
    border-right: 1px dotted #676e73;
}


/*  ROW ADJUSTMENTS */

/*  NAVIGATION STYLING/LAYOUT/LISTS & ICONS */


a {
    color: #626773;
    text-align: center;
}

a:hover {
    color: #1480cc;   
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #6e8299;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #99b1cc;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #617ed1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.icons {
    width: 40px;
    height: 40px;
    margin: 25px 8px 25px 8px;
    border: 0px dotted #404447;
}

.icon {
    width: 42px;
    height: 42px; 
}

.contacticon {
    width: 34px;
    height: 34px; 
}
/* COMMISSION LIST */

.commlist {
    color: #667180;
    padding: .5rem;
}
/* CONTACT FORM */
.contactbg {
    background-color: #131926;
    border: 1px dotted #293966;
}

.form-control {
    background-color: #0d121c;
}
.form-control:focus {
    background-color: #0a0d14;
    color: #667280;
}
form, input, label {
    color: white;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .commlist {
    padding: .5rem 1.3rem .5rem 1.3rem;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
}

/* Extra Large devices (desktops, 2000px and up) */
@media (min-width: 2000px) {

}